*{
  margin: 0;
  padding: 0;
}

/* *{
  box-sizing: border-box;
} */

/* BOOTSTRAP */
.container.container-bubba-publi{
  margin: 0;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.container.container-bubba-logo{
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.container.container-bubba-nav{
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.container.container-bubba-newsAndFeed{
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.container.container-bubba-footer{
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
/* FIN DE BOOTSTRAP */

/* INICIO DE CLIMA Y NOTICIAS */
.frames{  
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.news{
  /* flex: 30%; */
  font-size: x-large;
  color: black;
  text-shadow: 0 0 15px rgb(255, 253, 253), 0 0 10px rgb(255, 255, 255);
  background: rgb(245,245,245);
  background: radial-gradient(circle, rgba(245,245,245,1) 19%, rgba(58,175,60,1) 54%, rgba(0,0,0,1) 85%);
  padding: 20px;
}
/* FIN DE CLIMA Y NOTICIAS */

/* INICIO DE FEED */
.main{
  /* flex: 70%; */
  font-size: x-large;
  color: rgb(58,175,60);
  text-shadow: 0 0 15px grey, 0 0 10px grey;
  background-color: black;  
  /* background: rgb(58,175,60);
  background: radial-gradient(circle, rgba(58,175,60,1) 0%, rgba(0,0,0,1) 36%); */
  padding: 20px;
}
.mainImg{
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.mainContact{
  /* flex: 70%; */
  margin-left: 13rem;
  padding: 0;
  font-size: x-large;
  color: rgb(58,175,60);
  text-shadow: 0 0 15px grey, 0 0 10px grey;
  background-color: black;  
  /* background: rgb(58,175,60);
  background: radial-gradient(circle, rgba(58,175,60,1) 0%, rgba(0,0,0,1) 36%); */
  padding: 20px;
}
/* FIN DE FEED */

.posiciones{
  text-shadow: none;
  font-size: xx-large;
  color: #aaa;
  --bs-table-striped-color: none;
}


/* INICIO DE INTENTO DE RESPONSIVE */
/* @media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
  .row, .header{
    flex-direction: column;
  }
  .row, .menu{
    flex-direction: column;
    align-items: center;
  }
} */