.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-color: rgb(218, 69, 69);
  background-color: rgb(10, 10, 10);
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: rgb(218, 69, 69);
  padding: 5px;
  margin: 0;
}

.btn-primary, .boton {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #d02718;
  font-weight: bold;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  text-shadow: 0px 1px 0px #810e05;
  background: linear-gradient(#c62d1f, #f24437);
}
.btn-primary:hover, .boton:hover {
  background: linear-gradient(#f24437, #c62d1f);
  --bs-btn-hover-border-color: #d02718;
  text-decoration: underline;
}

.buttonArriba {
  font-size: 1.5rem;
  color: whitesmoke;
  text-shadow: black 2px 2px 4px;
  text-decoration: none;
}
.buttonArriba:hover {
  text-decoration: none;
  color: #164688;
  height: 1rem;
  left: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: 2;
}
@keyframes move {
  0% {
    text-shadow: 2px -2px 0 #da0641, 1.5px -1.5px 0 #da0641, 1px -1px 0 #da0641, 0.5px -0.5px 0 #da0641, -2px 2px 0 #13f1fc, -1.5px 1.5px 0 #13f1fc, -1px 1px 0 #13f1fc, -0.5px 0.5px 0 #13f1fc;
  }
  25% {
    text-shadow: -2px -2px 0 #13f1fc, -1.5px -1.5px 0 #13f1fc, -1px -1px 0 #13f1fc, -0.5px -0.5px 0 #13f1fc, 2px 2px 0 #da0641, 1.5px 1.5px 0 #da0641, 1px 1px 0 #da0641, 0.5px 0.5px 0 #da0641;
  }
  50% {
    text-shadow: 2px -2px 0 #da0641, 1.5px -1.5px 0 #da0641, 1px -1px 0 #da0641, 0.5px -0.5px 0 #da0641, -2px 2px 0 #13f1fc, -1.5px 1.5px 0 #13f1fc, -1px 1px 0 #13f1fc, -0.5px 0.5px 0 #13f1fc;
  }
  75% {
    text-shadow: -2px -2px 0 #13f1fc, -1.5px -1.5px 0 #13f1fc, -1px -1px 0 #13f1fc, -0.5px -0.5px 0 #13f1fc, 2px 2px 0 #da0641, 1.5px 1.5px 0 #da0641, 1px 1px 0 #da0641, 0.5px 0.5px 0 #da0641;
  }
  100% {
    text-shadow: 2px -2px 0 #da0641, 1.5px -1.5px 0 #da0641, 1px -1px 0 #da0641, 0.5px -0.5px 0 #da0641, -2px 2px 0 #13f1fc, -1.5px 1.5px 0 #13f1fc, -1px 1px 0 #13f1fc, -0.5px 0.5px 0 #13f1fc;
  }
}

/* INICIO DE CUERPO */
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "GFS Didot" serif;
  background-color: rgb(10, 10, 10);
  --bs-body-font-family: map-get($body, fuente);
}

.posiciones {
  text-shadow: none;
  font-size: large;
  color: #aaa;
  --bs-table-striped-color: map-get($tablaTorneo, colorTabla);
}

/* FIN DE CUERPO */
/* INICIO DE LOGO*/
header {
  background: rgb(245, 245, 245);
  background: radial-gradient(circle, rgb(245, 245, 245) 19%, rgb(213, 36, 50) 54%, rgb(22, 70, 136) 85%);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  opacity: 0.4;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.1)));
}
.logo:hover {
  opacity: 1;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0, 0, 0, 0.4)));
  -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);
}

/* FIN DE LOGO */
/* INICIO DE MI BARRA DE NAVEGACION */
.nav.justify-content-center.miNavbar {
  background-color: rgb(10, 10, 10);
  --bs-navbar-padding-x: 20px;
  --bs-navbar-padding-y: 14px;
}

.nav.justify-content-center.miNavbar a {
  font-weight: bold;
  --bs-nav-link-color: rgb(58,175,60);
  text-shadow: 0 0 15px grey, 0 0 10px grey;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.nav.justify-content-center.miNavbar a:hover {
  background: rgb(58, 175, 60);
  background: radial-gradient(circle, rgb(58, 175, 60) 0%, rgb(10, 10, 10) 90%);
  color: rgb(10, 10, 10);
}

.nav-item.miItem {
  padding: 0rem 1rem;
}

/* FIN DE MI BARRA DE NAVEGACION */
/* INICIO DE CLIMA Y NOTICIAS */
.frames {
  display: flex;
  flex-wrap: nowrap;
}

.news {
  flex: 30%;
  font-size: x-large;
  color: rgb(10, 10, 10);
  text-shadow: 0 0 15px rgb(255, 253, 253), 0 0 10px rgb(255, 255, 255);
  background: rgb(245, 245, 245);
  background: radial-gradient(circle, rgb(245, 245, 245) 19%, rgb(58, 175, 60) 54%, rgb(10, 10, 10) 85%);
  padding: 20px;
}

/* FIN DE CLIMA Y NOTICIAS */
/* INICIO DE FEED */
.main {
  flex: 70%;
  font-size: x-large;
  color: rgb(58, 175, 60);
  text-shadow: 0 0 15px grey, 0 0 10px grey;
  background-color: rgb(10, 10, 10);
  padding: 20px;
}

.mainImg {
  background-color: #aaa;
  width: 100%;
  padding: 0.5rem;
}

.mainContact {
  flex: 70%;
  margin-left: 13rem;
  padding: 0;
  font-size: x-large;
  color: rgb(58, 175, 60);
  text-shadow: 0 0 15px grey, 0 0 10px grey;
  background-color: rgb(10, 10, 10);
  padding: 20px;
}

/* FIN DE FEED */
/* INICIO DE FOOTER*/
footer {
  background-color: rgb(10, 10, 10);
  text-align: center;
}

.logoFooter {
  font-size: 3rem;
  color: rgb(213, 36, 50);
  text-shadow: black 2px 2px 4px;
  text-decoration: none;
}
.logoFooter:hover {
  text-decoration: none;
  color: #164688;
  height: 1rem;
  left: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: 2;
}

@keyframes move {
  0% {
    text-shadow: 2px -2px 0 #da0641, 1.5px -1.5px 0 #da0641, 1px -1px 0 #da0641, 0.5px -0.5px 0 #da0641, -2px 2px 0 #13f1fc, -1.5px 1.5px 0 #13f1fc, -1px 1px 0 #13f1fc, -0.5px 0.5px 0 #13f1fc;
  }
  25% {
    text-shadow: -2px -2px 0 #13f1fc, -1.5px -1.5px 0 #13f1fc, -1px -1px 0 #13f1fc, -0.5px -0.5px 0 #13f1fc, 2px 2px 0 #da0641, 1.5px 1.5px 0 #da0641, 1px 1px 0 #da0641, 0.5px 0.5px 0 #da0641;
  }
  50% {
    text-shadow: 2px -2px 0 #da0641, 1.5px -1.5px 0 #da0641, 1px -1px 0 #da0641, 0.5px -0.5px 0 #da0641, -2px 2px 0 #13f1fc, -1.5px 1.5px 0 #13f1fc, -1px 1px 0 #13f1fc, -0.5px 0.5px 0 #13f1fc;
  }
  75% {
    text-shadow: -2px -2px 0 #13f1fc, -1.5px -1.5px 0 #13f1fc, -1px -1px 0 #13f1fc, -0.5px -0.5px 0 #13f1fc, 2px 2px 0 #da0641, 1.5px 1.5px 0 #da0641, 1px 1px 0 #da0641, 0.5px 0.5px 0 #da0641;
  }
  100% {
    text-shadow: 2px -2px 0 #da0641, 1.5px -1.5px 0 #da0641, 1px -1px 0 #da0641, 0.5px -0.5px 0 #da0641, -2px 2px 0 #13f1fc, -1.5px 1.5px 0 #13f1fc, -1px 1px 0 #13f1fc, -0.5px 0.5px 0 #13f1fc;
  }
}
/* FIN DE FOOTER*/
/* INICIO MEDIAS QUERYS */
/* TABLET */
@media screen and (max-width: 991.98px) {
  .row, .navbar {
    flex-direction: column;
  }
  .row, .header {
    flex-direction: column;
  }
  .row, .menu {
    flex-direction: column;
    align-items: center;
  }
  .row, .frames {
    flex-direction: column;
  }
  .row, .news {
    display: none;
  }
}
/* BREAK 1 MOVILES */
@media screen and (max-width: 767.98px) {
  .row, .navbar {
    flex-direction: column;
  }
  .row, .header {
    flex-direction: column;
  }
  .row, .menu {
    flex-direction: column;
    align-items: center;
  }
  .row, .frames {
    flex-direction: column;
  }
  .row, .news {
    display: none;
  }
}
/* BREAK 2 MOVILES */
@media screen and (max-width: 575.98px) {
  .row, .navbar {
    flex-direction: column;
  }
  .row, .header {
    flex-direction: column;
  }
  .row, .menu {
    flex-direction: column;
    align-items: center;
  }
  .row, .frames {
    flex-direction: column;
  }
  .row, .news {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
