@mixin box($radio, $color, $tamanioFuente, $fondo, $alineacion){
    -webkit-border-radius: $radio;
    -moz-border-radius: $radio;
    -ms-border-radius: $radio;
    border-radius: $radio;
    border-color: $color;
    background-color: $fondo;
    font-size: $tamanioFuente;
    line-height: $tamanioFuente;
    text-align: $alineacion;
    color: $color;
    padding: 5px;
    margin: 0;
}

// <div style="background:rgb(10,10,10,1);padding:5px">
//           <h4 style="text-align:center;color: red;"

.box{ 
    @include box(5px, rgb(218, 69, 69), 20px, rgb(10,10,10), center); 
}

%boton{
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#d02718;
    font-weight:bold;
    border-top-left-radius:18px;
    border-top-right-radius:18px;
    border-bottom-left-radius:18px;
    border-bottom-right-radius:18px;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    text-shadow: 0px 1px 0px #810e05;
    background:linear-gradient(#c62d1f, #f24437);
    &:hover{
        background: linear-gradient(#f24437, #c62d1f);
        --bs-btn-hover-border-color: #d02718;
        text-decoration: underline;
    }
}

.boton{
   @extend %boton;
}

.buttonArriba{
    font-size: 1.5rem;
    color: whitesmoke;
    text-shadow: black 2px 2px 4px;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        color: #164688;
        height: 1rem;
        left: 0;
        letter-spacing: 5px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        animation: move linear 2000ms infinite;
        z-index: 2;
    }      
    @keyframes move {
    0% {
        text-shadow: 2px -2px 0 #da0641, 1.5px -1.5px 0 #da0641, 1px -1px 0 #da0641, 0.5px -0.5px 0 #da0641, -2px 2px 0 #13f1fc, -1.5px 1.5px 0 #13f1fc, -1px 1px 0 #13f1fc, -0.5px 0.5px 0 #13f1fc;
    }
    25% {
        text-shadow: -2px -2px 0 #13f1fc, -1.5px -1.5px 0 #13f1fc, -1px -1px 0 #13f1fc, -0.5px -0.5px 0 #13f1fc, 2px 2px 0 #da0641, 1.5px 1.5px 0 #da0641, 1px 1px 0 #da0641, 0.5px 0.5px 0 #da0641;
    }
    50% {
        text-shadow: 2px -2px 0 #da0641, 1.5px -1.5px 0 #da0641, 1px -1px 0 #da0641, 0.5px -0.5px 0 #da0641, -2px 2px 0 #13f1fc, -1.5px 1.5px 0 #13f1fc, -1px 1px 0 #13f1fc, -0.5px 0.5px 0 #13f1fc;
    }
    75% {
        text-shadow: -2px -2px 0 #13f1fc, -1.5px -1.5px 0 #13f1fc, -1px -1px 0 #13f1fc, -0.5px -0.5px 0 #13f1fc, 2px 2px 0 #da0641, 1.5px 1.5px 0 #da0641, 1px 1px 0 #da0641, 0.5px 0.5px 0 #da0641;
    }
    100% {
        text-shadow: 2px -2px 0 #da0641, 1.5px -1.5px 0 #da0641, 1px -1px 0 #da0641, 0.5px -0.5px 0 #da0641, -2px 2px 0 #13f1fc, -1.5px 1.5px 0 #13f1fc, -1px 1px 0 #13f1fc, -0.5px 0.5px 0 #13f1fc;
    }
    }
}
  
  
                