@mixin box($radio, $color, $tamanioFuente){
    -webkit-border-radius: $radio;
    -moz-border-radius: $radio;
    -ms-border-radius: $radio;
    border-radius: $radio;
    border-color: $color;
    font-size: $tamanioFuente;
    line-height: $tamanioFuente;
    color: $color;
    padding: 10px;
}

.box{ 
    @include box(5px, rgb(218, 69, 69), 20px); 
}

%boton{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(241, 169, 169);
    cursor: pointer;
    color: rgb(10, 92, 14);
    &:hover{
        background-color: rgb(255, 255, 255);
        text-decoration: underline;
    }
}

.boton{
   @extend %boton;
}