/* INICIO DE FOOTER*/
footer{
    background-color: map-get($footer, bg-color);
    padding: map-get($footer, pad);
    text-align: map-get($footer, alineacion-txt);
}
.logoFooter{
    font-size: map-get($logoFooter, tamanio-fuente);
    color: map-get($logoFooter, color-fuente);
    text-shadow: map-get($logoFooter, txt-sombra);
    text-decoration: map-get($logoFooter, txt-deco);
    &:hover{
        text-decoration: map-get($logoFooterHover, txt-deco);
        color: map-get($logoFooterHover, color-fuente);
        height: map-get($logoFooterHover, alto);
        left: map-get($logoFooterHover, izquierda);
        letter-spacing: map-get($logoFooterHover, espacio);
        text-align: map-get($logoFooterHover, alineacion-txt);
        text-transform: map-get($logoFooterHover, transform-txt);
        width: map-get($logoFooterHover, ancho);
        animation: map-get($logoFooterHover, animacion);
        z-index: map-get($logoFooterHover, ind);
    }
}
@keyframes move{
    0%{
      text-shadow:
      2px -2px 0 #da0641,
      1.50px -1.50px 0 #da0641,
      1px -1px 0 #da0641,
      0.50px -0.50px 0 #da0641,
      -2px 2px 0 #13f1fc,
      -1.50px 1.50px 0 #13f1fc,
      -1px 1px 0 #13f1fc,
      -0.50px 0.50px 0 #13f1fc;
      }
      25%{
      text-shadow:
      -2px -2px 0 #13f1fc,
      -1.50px -1.50px 0 #13f1fc,
      -1px -1px 0 #13f1fc,
      -0.50px -0.50px 0 #13f1fc,
      2px 2px 0 #da0641,
      1.50px 1.50px 0 #da0641,
      1px 1px 0 #da0641,
      0.50px 0.50px 0 #da0641;
      }
      50%{
      text-shadow:
      2px -2px 0 #da0641,
      1.50px -1.50px 0 #da0641,
      1px -1px 0 #da0641,
      0.50px -0.50px 0 #da0641,
      -2px 2px 0 #13f1fc,
      -1.50px 1.50px 0 #13f1fc,
      -1px 1px 0 #13f1fc,
      -0.50px 0.50px 0 #13f1fc;
      }
      75%{
      text-shadow:
      -2px -2px 0 #13f1fc,
      -1.50px -1.50px 0 #13f1fc,
      -1px -1px 0 #13f1fc,
      -0.50px -0.50px 0 #13f1fc,
      2px 2px 0 #da0641,
      1.50px 1.50px 0 #da0641,
      1px 1px 0 #da0641,
      0.50px 0.50px 0 #da0641;
      }
      100%{
      text-shadow:
      2px -2px 0 #da0641,
      1.50px -1.50px 0 #da0641,
      1px -1px 0 #da0641,
      0.50px -0.50px 0 #da0641,
      -2px 2px 0 #13f1fc,
      -1.50px 1.50px 0 #13f1fc,
      -1px 1px 0 #13f1fc,
      -0.50px 0.50px 0 #13f1fc;
      }
    }
/* FIN DE FOOTER*/