/* INICIO BARRA DE NAVEGACION */
.container.container-bubba-nav{
    margin-right: map-get($sinmyp, derecha);
    margin-left: map-get($sinmyp, izquierda);
    padding-right:  map-get($sinmyp, derecha);
    padding-left: map-get($sinmyp, izquierda);
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(10,10,10,1);
}
.menu{
    display: flex;
    list-style: none;
}
.navbar a{
    font-weight: bold;
    color: rgb(58,175,60);
    text-shadow: 0 0 15px grey, 0 0 10px grey;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    &:hover{
        background: rgb(58,175,60);
        background: radial-gradient(circle, rgba(58,175,60,1) 0%, rgba(10,10,10,1) 90%);
        color: rgb(10,10,10,1);
    }
}
/* FIN BARRA DE NAVEGACION */