.container.container-bubba-publi{
    margin-right: map-get($sinmyp, derecha);
    margin-left: map-get($sinmyp, izquierda);
    padding-right:  map-get($sinmyp, derecha);
    padding-left: map-get($sinmyp, izquierda);
}